[creds]
Username: example@emailexmaple.com
Password: examplePass
[prefs]
country: USA
zipCode: [55555]
historicalGuideDays: 14
guideDays: 14
favoriteChannels:
lang: en
[lineup]
headendId: lineupId
lineupId: DFLT
device: -
